# Server Configuration
PORT=3000
NODE_ENV=production
FRONTEND_URL=https://melodic-ganache-8bad94.netlify.app

# Firebase Admin Service Account Credentials (Render Web Service Environment Variables)
FIREBASE_PROJECT_ID="exalted-strata-468319-j8"
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_FIRESTORE_DATABASE_ID="ai-studio-ahunbingotelegra-e5b271a0-ddaa-40da-8f1e-b1ac2490e1df"

# Frontend Environment Variables (Netlify Frontend Environment Variables)
VITE_API_URL="https://yabede-bingo-one.onrender.com"
VITE_SOCKET_URL="https://yabede-bingo-one.onrender.com"

# Telegram Bot Token for validating initData signatures
TELEGRAM_BOT_TOKEN="123456789:ABCdefGHIjklMNOpqrsTUVwxyZ"
